.header {
    display: flex;
    align-items: center;
    background-color: cornflowerblue;
    color: #FFF;
}

.header .logo {
    max-height: 46px;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;       
}

.header .title-group {
    padding-left: 20px;
}

.header .title-group i {
    padding-right: 05px;
}
