.header {
    display: flex;
    align-items: center;  
    background-color: darkgoldenrod;  
}

.header .logo {
    max-height: 46px;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none; 
    color: #333;      
}

.header .title-group {
    padding-left: 20px;
}

.header .title-group i {
    padding-right: 05px;
}
